header {
    position: sticky;
    background-color: white;
    z-index: 999;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.home-btn,
.shop-btn,
.about-btn {
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 1em;
}

.shop-logo {
    cursor: pointer;
    border: none;
    background-color: white;
    flex-shrink: 0;
    font-size: 0.9em;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ff7e5f;
}

input {
    padding: 5px 3px 5px 3px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.total-amount {
    position: absolute;
    top: 10px;
    background-color: #ff4d4f;
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 50%;
    min-width: 8px;
    height: 18px;
    place-content: center;
}